.app-btn {
    width: 100%;
}
.ant-btn[disabled]{
    height: 40px;
}

.table-submit-button{
    width: initial;
    margin: 10px 5px;
    height: 40px;
    font-weight: bold;
}

.table-button{
    width: initial;
    margin: 10px 5px;
    height: 40px;
    font-weight: bold;
    background-color: #F2F2F2;
}

.ant-btn:active.table-button, .ant-btn:focus.table-button{
    background-color: #EAEFF1;
}

.table-button:hover{
    background-color: #EAEFF1;
}

.modal-btn{
    width: initial;
}
