.app-search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.ant-input-wrapper{
    width: 29.5%;
    margin: 5px 5px 10px 5px;
}

.ant-input-search-button{
    font-weight: bold;
    font-size: 14px;
}
