.ant-table-thead tr {
    display: flex;
    width: 100%;
    padding: 0 5px;
}
.ant-table-thead th {
    width: 100%;
}

.ant-table-row {
    display: flex;
    padding: 0 5px;

}

.ant-table-row td {
    padding:  0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    white-space: nowrap;
}

.ant-table-row td:hover {
    overflow: visible;
}


.ant-table-tbody > tr > td.ant-table-selection-column{
    max-width: 70px;

}

.ant-table-thead > tr > th.ant-table-selection-column{
    max-width: 70px;
}

.user-profile{
    display: flex;
    flex-direction: row;
}

.image-table{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.ant-table-expanded-row{
    display: flex;
}

.ant-table-row-expand-icon-cell, .ant-table-expand-icon-th{
    max-width: 100px;
}

.hide-row-expand-icon .ant-table-row-expand-icon{
    display: none;
}
