.submit-transfer-table{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
<<<<<<< HEAD

/*.table-transfer{*/
/*    margin-top: 80px;*/
/*}*/
=======
>>>>>>> e0d3ba0ffadbeb4dfb13fe2985f1b41e0bcc22b2
