.submit-transfer-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left-transfer-table{
    min-height: 60px;
}

.ant-transfer-list-header{
    background-color: aliceblue;
}

.ant-transfer-list-header-title{
    margin-right: 5px;
    font-weight: bolder;
}

.ant-transfer-list{
    min-width: 400px;
}
