.container {
    height: 100vh;
    padding-top: 8px;
}

.container-title, .container-breadcrumbs {
    padding-left: 24px;
}

.container-breadcrumbs {
    position: relative;
    margin-top: 5px;
}

.container-breadcrumbs:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid gray;
}

.container-content {
    margin-top: 20px;
    height: 100%;
}

.container-breadcrumb:last-of-type{
    cursor: not-allowed;
}
