.header{
    display: flex;
    height: 67px;
    margin: 0 16px;
}

.logo{
    width: 256px;
}

img{
    width: 70%;
    height: 70%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
}
